* {
    margin: 0;
     padding: 0;
}

.portfolio {
width: 100%;
}

.img-bench {
    width: 100%;
}

.img-cherry {
    width: 100%;
}

.portfolio h1 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px ;
    color: #111;
    line-height: 44px;
}

.portfolio p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px ;
    color: #111;
    line-height: 24px;
}

.img-bench{
    width: 100%
}

.img-cherry{
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .portfolio {
        width: 600px;
        margin: 0 auto;
        }

        .portfolio h1 {
            padding: 20px 0px 0px;
        }
        
        .portfolio p {
            padding: 20px 0px 0px;
        }
        
        .img-bench {
            padding-top: 30px;
        }

        .img-cherry {
            padding-top: 30px;
        }
}

@media only screen and (min-width: 1920px) {
    .portfolio {
        width: 1920px;
    }

    .portfolio h1 {
        padding: 20px 0px 0px 30px;
    }
    
    .portfolio p {
        padding: 20px 0px 0px 30px;
    }

    .img-bench{
       padding: 0px;
       width: 50px;
       float: left;
    }

    .img-cherry{
        padding: 0px;
        width: 50px;
        float: left;
     }

}